.section-features {
    z-index: 1;
    min-height: 100vh; /* Обеспечиваем минимальную высоту 100vh */
    height: 100vh; /* Устанавливаем высоту 100vh */
    position: relative;
    background-color: #2f1893;
    display: flex; /* Устанавливаем flexbox для правильного выравнивания содержимого */
    flex-direction: column; /* Элементы выстраиваются вертикально */
    justify-content: center; /* Центрируем содержимое по вертикали */
    .container-right-55 {
        padding: 0 var(--container-padding);
        max-width: 55%;
        margin-left: auto;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.6);
        background-image: url("./../../img/features/features-bg.png");
        filter: contrast(110%) brightness(1.1) saturate(1.1);
        background-position: center center; /* x y */
        background-size: cover;
        background-repeat: no-repeat;
        // @include mediaBg() {
        //     background-image: url("./../../img/landing/landing-bg@2x.jpeg");
        // } // это миксин для ритина экранов
    }
}
.section-features__title {
    text-align: left;
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #fff;
}
.section-features-content {
    text-align: left;
    margin-bottom: 65px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    color: #fff;
}
.features__cards--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;
}
