.section-features {
    z-index: 1;
    min-height: 100vh; /* Обеспечиваем минимальную высоту 100vh */
    height: 100vh; /* Устанавливаем высоту 100vh */
    position: relative;
    background-color: #2f1893;
    display: flex; /* Устанавливаем flexbox для правильного выравнивания содержимого */
    flex-direction: column; /* Элементы выстраиваются вертикально */
    justify-content: center; /* Центрируем содержимое по вертикали */

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.6);
        background-image: url("./../../img/features/features-bg.png");
        filter: contrast(130%) brightness(1.1) saturate(1.1);
        background-position: center center; /* x y */
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.features__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    .features__image {
        position: absolute;
        width: 40%;
        height: 100%;
        @include tablet {
            width: 60%;
            height: 100%;
        }
        @include mobile {
            display: none;
        }
    }
    & .feature__image--item {
        position: absolute;
        transform: translate(-80%, 0%);
        @include tablet {
            transform: translate(-40%, 0%);
            width: 100%;
            height: 100%;
        }
    }
}
.section-features__title {
    max-width: 100%;
    text-align: left;
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(1.5rem, 1.1667rem + 1.6667vw, 2.625rem);
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #fff;
}
.section-features-content {
    text-align: left;
    margin-bottom: 35px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(0.75rem, 0.5648rem + 0.9259vw, 1.375rem);
    line-height: 145%;
    color: #fff;
}
.features__cards--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;
}
