.footer {
	z-index: 1;
	padding: 50px 0 45px;
	background-color: #2f1893;
	color: #fff;
	@include tablet {
		padding: 40px 15px 35px;
	}

	a {
		// color: var(--link-color);
		color: #fff;
		text-decoration: underline;
	}
}

.footer__header {
	margin-bottom: 40px;
	padding-bottom: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgb(255, 255, 255, 0.3);
	@include tablet {
		margin-bottom: 30px;
		padding-bottom: 32px;
	}
}
.footer__title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: clamp(0.875rem, 0.6898rem + 0.9259vw, 1.5rem);
	letter-spacing: -0.01em;
	text-align: center;
	color: #fff;
}
.footer__links {
	margin-left: auto;
}
.footer__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 27px;
	a {
		text-decoration: none;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: clamp(0.75rem, 0.6759rem + 0.3704vw, 1rem);
		line-height: 162%;
		color: #fff;
		&:hover {
			color: blueviolet;
		}
	}
}

.footer__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mobile {
		flex-direction: column;
		gap: 20px;
	}
}
.footer__nav {
}
.footer__nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 27px;
	a {
		text-decoration: none;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		color: #fff;
		&:hover {
			color: blueviolet;
		}
	}
}
.footer__copyright {
	margin-left: auto;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 162%;
	text-align: right;
	color: #fff;
	@include mobile {
		margin: 0;
		align-self: flex-start;
	}
}
