.form-wrapper {
    width: 50%;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    @include mobile {
        width: 80%;
        height: 460px;
    }
}
.form__title-btns--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__content--wrapper {
    padding: 74px 70px;
    @include mobile {
        padding: 54px 50px;
        display: flex;
        flex-direction: column;
    }
}
.form {
    padding: 12px 24px;
    margin-bottom: 30px;
    border: 2px solid #ebeaed;
    border-radius: 100px;
}
.form__input {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(0.625rem, 0.4769rem + 0.7407vw, 1.125rem);
    line-height: 144%;
    color: #1e0e62;
    &::placeholder {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(0.625rem, 0.4769rem + 0.7407vw, 1.125rem);
        line-height: 144%;
        color: rgba(21, 20, 57, 0.4);
    }
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator-line {
    flex-grow: 1;
    height: 1px;
    background-color: #141414;
    opacity: 0.1;
}

.separator-text {
    padding: 0 14.5px;

    white-space: nowrap;

    opacity: 0.3;
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: clamp(0.625rem, 0.5139rem + 0.5556vw, 1rem);
    line-height: 137%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #141414;
}
