.section-header {
  z-index: 999;

  padding-top: 83px;
  min-height: 100vh; /* Обеспечиваем 100vh */
  height: 100vh; /* Обеспечиваем 100vh */
  position: relative;
  background-color: #2f1893;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url("./../../img/landing/landing-bg.png");
    filter: contrast(130%) brightness(1.1) saturate(1.1);
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    // @include mediaBg() {
    //   background-image: url("./../../img/landing/landing-bg@2x.jpeg");
    // } // это миксин для ритина экранов
  }
  &__row {
  }
}

.header__nav {
  @include tablet {
    display: none;
  }
}
