.hero {
    position: relative;
    z-index: 999;
    padding: 142px 0 163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
}
