.hero {
    position: relative;
    z-index: 999;
    padding-top: 142px;
    padding-bottom: 163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
}
