.header__nav.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}
.nav {
  font-size: 18px;
}
.nav__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 43px;
  flex-shrink: 0;
  a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    color: #fff;

    &:hover {
      color: blueviolet;
    }
  }
  a.active {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    opacity: 0.3;
  }
}
