.plans__cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.card {
    padding: 64px 69px 56px 69px;
    flex-basis: calc(100% / 3);
    flex-shrink: 1;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
}
.card__title {
    margin: 0px 0px 22px 0px;
}
.card__price {
    position: relative;
    margin-bottom: 44px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: #fff;
    &::after {
        content: url("./../../img/favicons/dollar.svg");
        position: absolute;
        bottom: 27px;
        margin-left: 7px;
    }
}
.card__content {
}
.card__list {
}
li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #fff;
    opacity: 0.7;
    &.checkbox {
        position: relative;
        opacity: 1;
        &::after {
            content: url("./../../img/favicons/check.svg");

            position: absolute;
            left: -25px;
            top: 0px;
            width: 12px;
            height: 8px;
        }
    }
}
