.plans__cards-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @include mobile {
        display: none;
    }
}
@include mobile {
    .plans__cards-wrapper-resp {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.card {
    padding: 64px 69px 56px 69px;
    cursor: pointer;
    flex-basis: calc(100% / 3);
    flex-shrink: 1;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease-in;
    &:hover {
        transform: scale(1.05);
        filter: contrast(130%) brightness(1.1) saturate(1.1);
    }
    @include mobile {
        max-width: 70%;
        margin-left: 85px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 14px 39px 26px 39px;
    }
}

.card__title-price {
    margin: 0px 0px 22px 0px;
    font-size: clamp(0.75rem, 0.6389rem + 0.5556vw, 1.125rem);
    font-family: var(--font-family);
    font-weight: 700;

    line-height: 186%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #fff;
    @include mobile {
        margin: 0px 0px 32px 0px;
    }
}
.card__price {
    position: relative;
    margin-bottom: 44px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(1.75rem, 1.1944rem + 2.7778vw, 3.625rem);
    line-height: 121%;
    letter-spacing: -0.02em;
    color: #fff;
    &::after {
        content: url("./../../img/favicons/dollar.svg");
        position: absolute;
        bottom: 27px;
        margin-left: 7px;
        @include mobile {
            bottom: 14px;
            margin-left: 4px;
        }
    }
    @include mobile {
        margin-bottom: 24px;
    }
}
.card__content {
    @include mobile {
        text-align: center;
    }
}
.card__list {
}
li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(0.75rem, 0.6759rem + 0.3704vw, 1rem);
    line-height: 162%;
    color: #fff;
    opacity: 0.7;
    &.checkbox {
        position: relative;
        opacity: 1;
        &::after {
            content: url("./../../img/favicons/check.svg");

            position: absolute;
            left: -25px;
            top: 0px;
            width: 12px;
            height: 8px;
        }
    }
}
