.swiper {
    width: 100%;
}

.slide {
}
.slide__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}
.slide__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}
.slide__title-main {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 119%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    a::after {
        content: "";
        // далее absov задаем через сниппет оверлей
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        // мы растягиваем ссылку на всю карточку
    }
}
.slide__content {
    max-width: 736px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    text-align: center;
    color: #fff;
}

.swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
    border: 2px solid #fff;
    background: transparent !important;
    opacity: 0.3 !important; // отменяем опасити что все кружки сделать одинакового цвета
}
.swiper-pagination-bullet-active {
    background-color: #fff !important;
    opacity: 1 !important;
} // задаем свойства для активного кружка
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 9px !important;
    margin-right: 9px !important;
} //  отступы слева/справа 16пкс, значит делим на 2 и получаем 8

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0 !important;
} // чтобы свайпер паджинейшн лежал четко внутри слайдер

.swiper-button-prev:after,
.swiper-button-next:after {
    font-weight: 400 !important;
    font-size: 30px !important;
    width: 11px !important;
    height: 35px !important;
    color: #fff !important;
    opacity: 0.3 !important;
}
