.swiper.swiper__features {
    width: 75%;
    height: 600px;
    padding-right: 160px !important;
    @include mobile {
        width: 100%;
        height: 400px;
        padding-right: 0px !important;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include mobile {
            display: none;
        }
    }
    & .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        border: 2px solid #fff;
        background: transparent;
        opacity: 0.3; // отменяем опасити что все кружки сделать одинакового цвета
        @include mobile {
            width: 8px;
            height: 8px;
        }
    }
    & .swiper-pagination-bullet-active {
        background-color: #fff;
        opacity: 1;
    } // задаем свойства для активного кружка
    & .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
        margin-top: 9px;
        margin-bottom: 9px;
    } //  отступы слева/справа 16пкс, значит делим на 2 и получаем 8

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-vertical > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-vertical {
        bottom: 10%;
    } // чтобы свайпер паджинейшн лежал четко внутри слайдер

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-weight: 400;
        font-size: 30px;
        width: 11px;
        height: 35px;
        color: #fff;
        opacity: 0.3;
    }
}
@include mobile {
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: absolute;
        top: 340px !important;
    }
}
