.swiper.swiper__hero {
    width: 100%;
    padding-bottom: 43px !important;
    & .slide__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 28px;
    }
    & .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        border: 2px solid #fff;
        background: transparent;
        opacity: 0.3; // отменяем опасити что все кружки сделать одинакового цвета
    }
    & .swiper-pagination-bullet-active {
        background-color: #fff;
        opacity: 1;
    } // задаем свойства для активного кружка
    & .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin-left: 9px;
        margin-right: 9px;
    } //  отступы слева/справа 16пкс, значит делим на 2 и получаем 8

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0 !important;
    } // чтобы свайпер паджинейшн лежал четко внутри слайдер

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-weight: 400;
        font-size: 30px;
        width: 11px;
        height: 35px;
        color: #fff;
        opacity: 0.3;
    }
}

.slide__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(1rem, 0.8519rem + 0.7407vw, 1.5rem); // Font-size Clamp Generator
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}
.slide__title-main {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(2.25rem, 1.5833rem + 3.3333vw, 4.5rem); // Font-size Clamp Generator
    line-height: 119%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    a::after {
        content: "";
        // далее absov задаем через сниппет оверлей
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        // мы растягиваем ссылку на всю карточку
    }
}
.slide__content {
    max-width: 736px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(0.875rem, 0.7269rem + 0.7407vw, 1.375rem);
    line-height: 145%;
    text-align: center;
    color: #fff;
}
