.section-form {
    z-index: 1;

    min-height: 100vh; /* Обеспечиваем минимальную высоту 100vh */

    position: relative;
    background-color: #2f1893;
    display: flex; /* Устанавливаем flexbox для правильного выравнивания содержимого */
    flex-direction: column; /* Элементы выстраиваются вертикально */
    justify-content: center; /* Центрируем содержимое по вертикали */
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-image: url("./../../img/content/content-bg.png");
        filter: contrast(110%) brightness(1.1) saturate(1.1);
        background-position: center center; /* x y */
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        // @include mediaBg() {
        //     background-image: url("./../../img/content/content-bg@2x.png");
        // } // это миксин для ритина экранов
    }
}

.section__form-wrapper {
    position: relative;
    max-width: 970px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}
.form-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.section-form__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #fff;
}
.section-form__grid {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #fff;
}
