.section-form {
    z-index: 1;

    min-height: 100vh; /* Обеспечиваем минимальную высоту 100vh */

    position: relative;
    background-color: #2f1893;
    display: flex; /* Устанавливаем flexbox для правильного выравнивания содержимого */
    flex-direction: column; /* Элементы выстраиваются вертикально */
    justify-content: center; /* Центрируем содержимое по вертикали */
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background-image: url("./../../img/content/content-bg.png");
        filter: contrast(110%) brightness(1.1) saturate(1.1);
        background-position: center center; /* x y */
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        // @include mediaBg() {
        //     background-image: url("./../../img/content/content-bg@2x.png");
        // } // это миксин для ритина экранов
    }
}

.section__form-wrapper {
    position: relative;
    max-width: 970px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}
.form-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.section-form__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #fff;
}
.section-form__grid {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #fff;
}
.form-wrapper {
    width: 50%;
    height: 550px;
    border-radius: 10px;
    background: #fff;
}
.form__title-btns--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sign {
    display: inline-block;
    width: 50%;
    padding: 17px 50px;

    border-bottom: 3px solid #ebeaed;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: rgba(21, 20, 57, 0.4);

    &:hover {
        color: #1e0e62;
        border-bottom: 3px solid #1e0e62;
    }
    &.active {
        color: #1e0e62;
        border-bottom: 3px solid #1e0e62;
    }
}

.btn-log {
    display: inline-block;
    width: 50%;
    display: inline-block;

    padding: 17px 50px;

    border-bottom: 3px solid #ebeaed;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: rgba(21, 20, 57, 0.4);
    &:hover {
        color: #1e0e62;
        border-bottom: 3px solid #1e0e62;
    }
}
.form__content--wrapper {
    padding: 74px 70px;
}
.form {
    padding: 12px 24px;
    margin-bottom: 30px;
    border: 2px solid #ebeaed;
    border-radius: 100px;
}
.form__input {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    color: #1e0e62;
    &::placeholder {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        color: rgba(21, 20, 57, 0.4);
    }
}

.form__btn-1 {
    padding: 12px 60px;
    border-radius: 100px;
    background: #25dac5;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    color: #fff;
}
.form__btn-2 {
    padding: 12px 70px;
    border-radius: 100px;
    background: #1da1f2;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    color: #fff;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator-line {
    flex-grow: 1;
    height: 1px;
    background-color: #141414;
    opacity: 0.1;
}

.separator-text {
    padding: 0 14.5px;

    white-space: nowrap;

    opacity: 0.3;
    font-family: var(--font-accent);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #141414;
}
